n8n/support-classifier-workflow.json
{
  "name": "ChildCompass Support Classifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "support-chat"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a support classifier for ChildCompass, a platform that helps parents find childcare activities for children ages 0-6.\n\nClassify the user's message into exactly ONE category:\n- booking_help: Questions about booking, scheduling, or reservations\n- account_issue: Login problems, profile updates, password resets\n- provider_inquiry: Questions about becoming a provider or managing listings\n- general_question: General questions about the platform or childcare activities\n- bug_report: Technical issues, errors, or unexpected behavior\n\nUser context:\n- Role: {{ $json.user.role ?? 'anonymous' }}\n- Name: {{ $json.user.fullName ?? 'unknown' }}\n- Page: {{ $json.pageUrl }}\n- Language: {{ $json.lang }}\n\nRespond ONLY with valid JSON, no other text:\n{\"category\": \"<category>\", \"reply\": \"<helpful response in 2-3 sentences>\"}\n\nIf lang is 'de' or the user writes in German, reply in German."
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "AI Classification",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [480, 400],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonParse",
        "jsonParseField": "content",
        "destinationFieldName": "parsed",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsed.category }}",
                    "rightValue": "booking_help",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": "Booking Help"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsed.category }}",
                    "rightValue": "account_issue",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": "Account Issue"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsed.category }}",
                    "rightValue": "provider_inquiry",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": "Provider Inquiry"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsed.category }}",
                    "rightValue": "bug_report",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": "Bug Report"
            }
          ],
          "fallbackOutput": "General Question"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.parsed.reply, category: 'booking_help' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Action: Booking Help",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.parsed.reply, category: 'account_issue' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Action: Account Issue",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.parsed.reply, category: 'provider_inquiry' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Action: Provider Inquiry",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 480]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.parsed.reply, category: 'bug_report' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Action: Bug Report",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 640]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.parsed.reply, category: 'general_question' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Action: General Question",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 800]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classification": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Action: Booking Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Account Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Provider Inquiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Bug Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: General Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "support"
    }
  ]
}
