n8n/support-classifier-workflow.json
{
  "name": "ChildCompass Support Classifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "support-chat"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a support classifier for ChildCompass, a platform that helps parents find childcare activities for children ages 0-6.\n\nClassify the user's message into exactly ONE of these categories:\n- booking_help\n- account_issue\n- provider_inquiry\n- general_question\n- bug_report\n\nRespond ONLY with a valid JSON object, no other text:\n{\n  \"category\": \"<one of the categories above>\",\n  \"reply\": \"<a helpful, friendly response in 2-3 sentences>\"\n}\n\nIf the user writes in German, reply in German. Otherwise reply in English."
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.message }}",
              "role": "user"
            }
          ]
        }
      },
      "id": "ai-classification",
      "name": "AI Classification",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.content).category }}",
                    "rightValue": "booking_help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Booking Help"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.content).category }}",
                    "rightValue": "account_issue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Account Issue"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.content).category }}",
                    "rightValue": "provider_inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Provider Inquiry"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.message.content).category }}",
                    "rightValue": "bug_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Bug Report"
            }
          ],
          "fallbackOutput": "General Question"
        },
        "options": {}
      },
      "id": "switch-category",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.parse($json.message.content).reply }},\n  \"category\": \"booking_help\"\n}",
        "options": {}
      },
      "id": "action-booking",
      "name": "Reply Booking",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.parse($json.message.content).reply }},\n  \"category\": \"account_issue\"\n}",
        "options": {}
      },
      "id": "action-account",
      "name": "Reply Account",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.parse($json.message.content).reply }},\n  \"category\": \"provider_inquiry\"\n}",
        "options": {}
      },
      "id": "action-provider",
      "name": "Reply Provider",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.parse($json.message.content).reply }},\n  \"category\": \"bug_report\"\n}",
        "options": {}
      },
      "id": "action-bug",
      "name": "Reply Bug",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.parse($json.message.content).reply }},\n  \"category\": \"general_question\"\n}",
        "options": {}
      },
      "id": "action-general",
      "name": "Reply General",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 700]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classification": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Reply Booking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Account",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Provider",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Bug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "support"
    }
  ]
}
